# CODEOWNERS
# Owners are automatically requested for review when someone opens a pull request.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @kotewar

/examples/ @kotewar
/docs/     @kotewar
